.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-style: none;
  cursor: pointer;

  box-shadow: 0px 4px 4px $box-shadow-color;
  border-radius: 4px;

  color: $white-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form__button {
  display: block;
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
}

.footer-form__btn {
  display: inline-flex;
  align-items: center;

  min-width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: 12px;
  text-align: center;
}
