.services {
  padding-top: 0;
  padding-bottom: 94px;
}

.services-list {
  display: flex;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-item__container {
  position: relative;
}

.services-item__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.services-item__label {
  color: $white-color;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
