$primary-text-color: #757575;
$title-text-color: #212121;
$white-color: #ffffff;
$accent-color: #2196f3;
$primary-bcg-color: #2f303a;
$sec-bcg-color: #f5f4fa;
$black-color: #000000;
$rgba-opacity-color: rgba(255, 255, 255, 0.6);
$logo-color: #afb1b8;
$hero-bcg-color: #c4c4c4;
$item-border-color: #eeeeee;
$form-border-color: rgba(33, 33, 33, 0.2);
$box-shadow-color: rgba(0, 0, 0, 0.15);
$animation-timing: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
